<html>
  <body>
    {% if name %}
    <h1>Hello {{ name }}</h1>
    {% else %}
    <h1>Hello World</h1>
    {% endif %}
    <ul>
      {% comment %} {% for product in products %} {% endcomment %}
      {% comment %} <li>{{ product.title }} - {{ product.collection.title }}</li> {% endcomment %}
      {% comment %} <li>{{ product.title }}</li> {% endcomment %}
      {% for order in orders  %}
      <li>{{ order.id }} - {{ order.customer.first_name }}</li>
      {% endfor %}
      {% comment %} {% endfor %} {% endcomment %}
    </ul>
  </body>
</html>
